{% extends "main.html" %}

{% block title %}
	{{project.title}}
{% endblock %}

{% load staticfiles %}
{% block content%}	  
	<div class="row">
		<div class='col-sm-12'>
			<div class='box info-item'>
				<div class='box-header'>
	                <div class="row">
	                	<div class='title marg_left_5'  id="project">
	                        <h3>{{ project.title }}</h3>
	                    </div>
					    <form href="/projects/edit_project/{{project.id}}" action="GET">
					    	<div class = "row">
								<div class="col-md-6 describe">
									<textarea class="text" name="text" hidden>
										{{ project.text }}
									</textarea>

									<div class="marg_top marg_left_5">
										Руководитель проекта: {{project.leader__username}}
									</div>
									{% if editor %}
										<div class="marg_top marg_left_5">
											<a class="edit-project" id="{{project.id}}">
												<i class="fa fa-2x fa-pencil-square-o"></i>
											</a>
										</div>
									{% endif %}
								</div>

								<div class="col-md-6">
									<img src="/media/{{ project.logo }}" class="logo-project">
								</div>
							</div><!--row-->

							<div class = "row">
								<div class="col-md-6 info-item half-block left-half-block">
									<div class="row">
										<h4 class="title marg_10">Последние добавленные задачи</h4>
									</div>
									{% if new_tasks %}
										<table class="table data-table table-striped">
											<thead>
												<tr>
													<td> Задача      </td>
													<td> Исполнитель </td>
													<td> Тип         </td>
												</tr>
											</thead>
											<tbody>
													{% for task in new_tasks %}
														<tr data-position="{{task.pos}}" id="{{task.id}}">
														<td>
															<a class="task_title" id="{{task.id}}">
																{{task.title}}
															</a>
														</td>
														<td> {{task.assigned__username}}  </td>
														<td> {{task.type_task}}	          </td>
													</tr>
													{% endfor %}
												</tbody>
										</table>
									{% endif %}
								</div><!--info-item-->
								
								<div class="col-md-6 info-item half-block">	
									<div class="row">
										<a href='#' data-toggle='tooltip' title='Текущая итерация'>
											<h4 class="title">{{ iterate_title }}</h4>
										</a>
									</div>

									<div class="row">
										<div>
											<h5 class="time-iterate padding_left_20"></h5>
										</div>
										<div class="graphic margin_20" id="graphic"></div>
									</div>
							   	</div><!--info-item-->
							</div><!--row-->
						</form>	
					</div><!--row-->
				</div><!--box-header-->
			</div><!--box-->
		</div><!--col-sm-12-->
	</div><!--row-->
	<script src= "{% static 'js/own/project.js' %}">      </script>
	<script src= "{% static 'js/own/statistic.js'%}">     </script>
	<script src= "{% static 'js/own/tasks.js'%}">         </script>	
{% endblock %}

{% block nav %}
	<li> <a href="/projects">          Главная    </a> </li>
	<li> <a href="/iterates">          Итерации   </a> </li>
	<li> <a href="/task/tasks">        Задачи     </a> </li>
	<li> <a href="/task/dashboard">    Dashboard  </a> </li>
	<li> <a href="/profile/employees"> Сотрудники </a> </li>
	<li> <a href="/statistic">         Статистика </a> </li>
	<li> <a href="/forum">             Форум      </a> </li>
	
{% endblock %}