{% extends "main.html" %}

{% block title %}
	{{project.title}}
{% endblock %}

{% load staticfiles %}
{% block content%}	    
    <form href="/projects/edit_project/{{project.id}}" action="GET">
    	<div class = "row">
    		<div class="col-md-4">
		   		<img src="{% static 'images/task_man.jpg' %}" class="logo-project">
		   	</div>	
		   	<div class="col-md-8">
		   		<label class="col-md-12"><h3 class="title">{{project.title}}</h3></label>
		   		{{project.text}}
		   		<a class="edit-project col-md-2 col-md-offset-10 btn btn-default" id="{{project.id}}">Редактировать</a>
		   	</div>	
		</div>

		<div class = "row">
    		<div class="col-md-6">
		   		<div class="info-item">
		   			<label>Поседние обновления</label>

		   		</div>
		   	</div>
		   	<div class="col-md-6">
		   		<div class="info-item">
		   			<label>Текущая итерация</label>
		   		</div>
		   	</div>	
		</div>
	</form>	
	<script src= "{% static 'js/own/project.js' %}"></script>	
{% endblock %}

{% block nav %}
	<li> <a href="/projects">          Главная    </a> </li>
	<li> <a href="/iterates">          Итерации   </a> </li>
	<li> <a href="/task/tasks">        Задачи     </a> </li>
	<li> <a href="/task/dashboard">    Dashboard  </a> </li>
	<li> <a href="/profile/employees"> Сотрудники </a> </li>
	<li> <a href="/statistic">         Статистика </a> </li>
	<li> <a href="/forum">             Форум      </a> </li>
	
{% endblock %}