{% extends "main.html" %}
{% load staticfiles %}

{% block title %}
	Все проекты
{% endblock %}

{% block content%}
	<div class = "projects">
	    {% for project in projects %}
	    
	    <div class = "container">
	    	<div class = "row">
	    		<a href = "/projects/project/{{project.id}}">
			   <div class="col-md-4 col-md-offset-4 box-project green_back">
			   	  <form action = "#" enctype="multipart/form-data">
			   		<h3 class="title">
						{{ project.title}}
					</h3>
					<div class = "row">
						<div class = "col-md-6">
							<small>
								{{ project.text}}
							</small>
						</div>
						<div class = "col-md-6">
							{% if project.logo %}
								<img src="{{ MEDIA_URL }}{{ project.logo}}">
								<!--<img src="{% static '' %}{{ project.logo}}" />-->
							{% endif %}							
						</div>
					</div>

				</form>

			   	</div>
			   	</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<script src= "{% static 'js/own/project.js' %}"></script>	
{% endblock %}

{% block nav %}
	<li><a class="add-project">Добавить</a></li>		
{% endblock %}