.table th{
	text-align : center;
}
/*images*/
.avatar{
	width: 100%;
	border-radius: 5px;
}
.sos{
	width: 100px;
	height: 100px;
}
.logo-project{
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.marg_top_head{
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.marg_top{
	margin-top: 20px;
}

.margin_20{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.margin_10{
	margin: 10px 10px 10px 10px;
}

.padding_10{
	padding: 10px 10px 10px 10px;
}

.margin_5{
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.bordered{
	border: 1px solid #E7E7E7;
}
.user_info_panel{
	background-size: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.user_option{
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	min-height: 50px;
	margin-bottom: 30px;
	vertical-align: middle;
	margin-left: 5px;
	padding:5px;
}

.background_light{
	background: -webkit-linear-gradient(#cdf2cb, #9ff19b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#cdf2cb, #9ff19b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#cdf2cb, #9ff19b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#cdf2cb, #9ff19b); /* Standard syntax */
}

.align_right{
	text-align: right;
}

.progress-bar{
	height: 40px;
}
.user_nav{
	padding-left: 10px;
	padding-right: 10px;
}

/*side bar*/
/**
 * Skyrim-inspired Menu
 */


a {
	color: black; 
	text-decoration: none;
}

	a:hover, li:hover > a {
		color: green;
	}

#menu {
	background:  #f8f8f8;
	float: right;
	font-size: 1.5em;
	min-height: 100%;
	margin-top: 60px;
	padding: 0px;
	border: 1px solid green;
	border-radius: 3px;
}

#menu li {
	position: relative;
	list-style-type: none;
	z-index: 1;
	width: 100%;
}


#menu li a {
	display: block;
	padding: 0.5em 1em;
	white-space: nowrap;
}

	#menu li ul {
		position: absolute;
		overflow: hidden;
		display: none;
		right: 100%;
		top: 0.5em;
		float: none;
	}
	
	#menu li:hover ul {
		display: block;
	}
	
	#menu li ul a {
		position: relative;
		font-size: 0.8em;
	}
	
	#menu li ul a:hover:before {
		content: "";
		display: none;
		width: 1em;
		height: 1em;
		background: rgba(0,0,0,0.75);
		border: 1px solid #FFF;
		position: absolute;
		top: 0.5em;
		left: -0.75em;
	}
/*main templ*/
.body-content{	
	margin-top: 70px;
	margin-left: 30px;
	margin-right: 200px;
	margin-bottom: 30px;
}
.info-item{
	background:  #f8f8f8;
	font-size: 1.5em;
	min-height: 100%;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid green;
	border-radius: 3px;
}
.active-li{
	background-color: rgba(0,0,0,0.15);
	color: green;
}

/*profile*/
.tab-pane{
	margin-top: 20px;
}
/*forum*/
.box-comments{
	border: 1px solid green;
	border-radius: 3px;
	padding: 0px 30px 20px 30px;
}
.box-comment{
	list-style-type: none;

}
.box-forums{
	padding: 10px;
	border: 1px solid green;
	border-radius: 3px;
}
.title{
	color: green;
}
.sub-data{
	color: #777;
	text-align: right;
}
.message_box{
	width: 100%;
	height: 100px;
	border-radius: 5px;
	border: 1px solid green;
	padding: 5px;
}