{% extends "main.html" %}

{% block title %}
	Задачи
{% endblock %}

{% load staticfiles %}
{% block script %}
    <script src= "{% static 'js/own/tasks.js'%}"></script>
{% endblock %}

{% block content%}	
	<div class="row">
		<div class='col-sm-12'>
			<div class='box'>
				<div class='box-header'>
	                <div class = "row">
	                    <div class = 'title col-sm-2'  id="project" id_project="{{ project_id }}">
	                        <h3>{{ cache.project_title }}</h3>
	                    </div>
	                    <div class = "col-sm-4 col-sm-offset-6">
	                        <div class="btn-group" role="group" aria-label="...">
	                          <a  href="/task/tasks"><button type="button" class="btn btn-default">Задачи</button></a>
	                          <a  href="/task/dashboard"><button type="button" class="btn btn-default">Dashboard</button></a>
	                        </div>
	                    </div>
	                </div>
				</div>
				<div class='box-table'>
					<div class='responsive-table'>
						<div class='scrollable-area' style= 'width:100%'>
							<table class="table table-striped col-md-12" id="table_articles">
			                    <thead>
			                        <tr>
										<th> Итерация   </th>
										<th>
											 Задача <a class="add-task"><b>+</b></a>
										</th>		
										<th> Тип		 </th>
										<th> Исполнитель </th>
										<th> Статус		 </th>
										<th> Обновлена   </th>
									</tr>
			                    </thead>
			                    <tbody>
									{% for task  in tasks %}
										<tr data-position="{{task.pos}}" id="{{task.id}}">
											<td> {{ task.iterate__title  }}	</td>
											<td> 
												<a class="task_title" id="{{task.id}}">
												 {{ task.title    }}
												</a>
											</td>
											<td> {{ task.type_task}}	</td>
											<td> {{ task.assigned__username }}	</td>
											<td> {{ task.status   }}	</td>
											<td> {{ task.updated  }}	</td>
										</tr>
									{% endfor %}
			                    </tbody>
		                	</table>
						</div><!--scrollable-area-->
					</div><!--responsive-table-->
				</div><!--box-table-->
			</div><!--box-->
		</div><!--col-sm-12-->
	</div><!--row-->


{% endblock %}

{% block nav %}
	<li> <a href="/projects/project"> {{ cache.project_title }} </a></li>
	<li> <a href="/forum">            Форум                     </a> </li>
	<li> <a href="#">                 Сотрудники                </a> </li>
	<li> <a href="/statistic">        Статистика                </a> </li>
{% endblock %}