{% extends "main.html" %}

{% block title %}
	Задачи
{% endblock %}

{% load staticfiles %}
{% block script %}
    <script src= "{% static 'js/own/tasks.js'%}"></script>
{% endblock %}

{% block content%}	
	<div class="row">
		<div class='col-sm-12'>
			<div class='box'>
				<div class='box-header'>
	                <div class = "row">
	                    <div class = 'title'  id="project" id_project="{{ cache.project_id }}">
	                        <h3>{{ cache.project_title }}</h3>
	                    </div>

	                    <div class="row">
		                    <div class="col-sm-1">
								<label>Итерация</label>
							</div>

							<div class="col-sm-1">
				                {% if iterations|length == 0 %}
				                    <a href="#"><h4> создать</h4></a> 
				                {% else %}                                                                      
				                    <select class="selectpicker btn btn-default filter_select" id="load_table_tasks">
				                        {% for iteration in iterations %}
				                            <option class="black_text" id="{{iteration.id}}" {% if iteration.id == cache.iterate_id %} selected {% endif %}>
				                                {{ iteration.title }}
				                            </option>
				                        {% endfor %}
				                    </select>                                        
				                {% endif %}
				            </div><!--col-sm-2-->
				        </div><!--row-->
	                </div>
				</div>
				<div class="row">
					<h4 class="title-table text-center marg_buttom_20">Задачи проекта</h4>
				</div>
				<div class='box-table'>
					<div class='responsive-table'>
						<div class='scrollable-area' style= 'width:100%'>
							<table class="table table-striped col-md-12 data-table">
							    <thead>
							        <tr>
										<th>
											 Задача <a class="add-task"><b>+</b></a>
										</th>		
										<th> Тип		 </th>
										<th> Исполнитель </th>
										<th> Статус		 </th>
										<th> Обновлена   </th>
									</tr>
							    </thead>
							    <tbody  id="content_task_table">
							    </tbody>
							</table>
						</div><!--scrollable-area-->
					</div><!--responsive-table-->
				</div><!--box-table-->
			</div><!--box-->
		</div><!--col-sm-12-->
	</div><!--row-->


{% endblock %}

{% block nav %}
	<li> <a href="/projects/project">   {{ cache.project_title }} </a> </li>
	<li> <a href="/task/dashboard">     Dashboard                 </a> </li>
	<li> <a href="/profile/employees">  Сотрудники                </a> </li>
	<li> <a href="/statistic">          Статистика                </a> </li>
	<li> <a href="/forum">              Форум                     </a> </li>
{% endblock %}