{% extends "main.html" %}
{% load bootstrap %}

{% block content%}
<div class = "container">
		<div class = "row">
			<div class = "col-md-4 col-md-offset-4 well">
				<div class = "large-offset-3 large-6 columns">
					<form action = "/projects/new" method = "post" enctype="multipart/form-data">
						{% csrf_token %}

						{{form|bootstrap}}
						
						
						<input class = "button" type = "submit" value = "Создать">
						
					</form>
				</div>
			</div>
		</div>
</div>			

{% endblock%}