{% load bootstrap %}
	<div class="modal-dialog box-task">
    	<div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="modal-title title col-sm-4"> 
	    			{% if task %}
	    				{{ task.title }}
	    			{% else %}
	    				Новая задача
	    			{% endif %}
	    			</h4>
	    		<div class="col-sm-5 col-sm-offset-2 btn-modal" id="btn-modal"></div>
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close_task">×</button>			        
		    </div>
	      	<div class="modal-body">
				<div class="box-form">
					<div class="contents" id="describe">
						<div class="row">
							<div class="col-sm-6">
								{{ task.text }}
							</div>
							<div class="col-sm-6 data-task">
								<div class='form-group'>
									<label class="col-sm-4 control-label">Проект:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.project__title }}
										</div>
									</div> 				
								</div>
								<div class='form-group'>
									<label class="col-sm-4 control-label">Итерация:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.iterate__title }}
										</div>
									</div> 				
								</div>
								<div class='form-group'>
									<label class="col-sm-4 control-label">Тип:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.type_task }}
										</div>
									</div> 				
								</div>
								<div class='form-group'>
									<label class="col-sm-4 control-label">Статус:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.status }}
										</div>
									</div> 				
								</div>
								<div class='form-group'>
									<label class="col-sm-4 control-label">Автор:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.entrasted__username }}
										</div>
									</div> 				
								</div>
								<div class='form-group'>
									<label class="col-sm-4 control-label">Исполнитель:</label>
									<div class="col-sm-8">
										<div class="form-control">
											{{ task.assigned__username }}
										</div>
									</div> 				
								</div>
							</div><!--col-sm-6 data-task-->		
						</div><!--row-->
					</div>

					{% if form %}
						<div class="contents" id="edit">
							<form action = "/task/task/{{task_id}}" method = "post" enctype="multipart/form-data">
								{% csrf_token %}
								{{ form|bootstrap }}
								<input class="button" type="submit" value="Сохранить" id="save">		
							</form>
						</div>
					{% endif %}

					<hr>
					
					<div id="box-comments">
					</div>
				</div>
	      	</div>
    	</div>
	</div>
