{% load bootstrap %}
<div class="box-form">
	<div class="contents">
		<div class="">
			<h4>{{text}}</h4>
		</div>

		<div class="row">
			{% for notificate in new_notes %}
				<div class="col-sm-6">
					<a class="task_title title" id="{{notificate.task__id}}">{{notificate.task__title}}</a>	
				</div>

				<div class="col-sm-6 title">
					{{notificate.created}}
				</div>
			{% endfor %}
		</div>

		<hr>

		<div class="row">
			{% for notificate in readed_notes %}
				<div class="col-sm-6">		
					<a class="task_title" id="{{notificate.task__id}}">{{notificate.task__title}}</a>		
				</div>

				<div class="col-sm-6">
					{{notificate.created}}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

               