{% extends "main.html" %}

{% load bootstrap %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

<div class = "dashboard">    
            <div class ="row">  
                <div class="dropdown project_button green_back col-md-1">
                        <a href="#" class="dropdown-toggle white_text" data-toggle="dropdown"><h4>Проект<b class="caret"></b></h4></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/dashboard">Все</a></li>
                            {% for pro in projects %}
                            <li><a href="/profile/dashboard/{{pro.id}}">{{pro.title}}</a></li>
                            {% endfor %}
                        </ul>
                </div>
                <div>
                    {% if project %}
                            <h4>{{project.title}}</h4>
                    {% endif %}
                </div>
            </div>
            <div class = "row ">
                
                <div class="col-md-3 board_widget green_back ">
                    <center><div class = "h1 board-header">To Do</div></center>
                    <div class = "board_list"> 
                        <div class='table-responsive' style= 'width:100%'> 
                            <ul class="list-group" id = "to_do">
                            {% for task in tasks %}
                                {% if task.status == "not_dev" %}
                                    <li class = "board_item board_item_color"> 
                                        <p> <b> {{task.title}}</b> </p>
                                        <p> {{task.text}} </p>
                                    </li>
                                {% endif %}
                            {% endfor%}    
                            </ul>
                        </div>
                    </div>
                    <a href = "#"><div class = "white_text"><h4>Добавить...</h4></div></a>
                </div>
               
                <div class="col-md-3 board_widget green_back ">                  
                    <center><div class = "h1 board-header">In progress</div></center>
                    <div class = "board_list"> 
                        <div  class='table-responsive' style= 'width:100%'> 
                            <ul class="list-group" id = "in_rogress" >                                
                            </ul>
                        </div>
                    </div>           
                </div>
               
            
                <div class="col-md-3 board_widget green_back " id = "test1">
                    <center><div class = "h1 board-header">Test</div></center>
                    
                    <div class = "board_list"> 
                        <div  class='table-responsive' style= 'width:100%'> 
                            <ul id = "test" class="list-group">
                                                             
                            </ul>
                        </div>
                    </div>

                </div>
                

                <a href = "/task/tasks/{{project.id}}">
                <div class="col-md-3 board_widget green_back " id = "test2">                  
                    <center><div class = "h1 board-header">Done</div></center> 
                    <div class = "board_list"> 
                        <div  class='table-responsive' style= 'width:100%'> 
                            <ul id = "done" class="list-group">
                                                              
                            </ul>
                        </div>
                    </div>         
                </div>
                </a>
            </div>
    </div>
    <script type="text/javascript">
        
        $(document).ready(function() {

            $(function() {
                 //var $test = $( "#test ul" ),
                //    $done = $( "#done ul" );

                //$test.sortable().disableSelection();

                $( "#test, #done, #in_rogress, #to_do" ).sortable({
                  connectWith: "ul",
                  opacity:0.5,
                  dropOnEmpty:true,
                  update: function (event, ui) {
                    var order = $(this).sortable('serialize');

                    // POST to server using $.post or $.ajax
                    $.ajax({
                        data: {'sortable': order, timestamp: $.now()},
                        type: 'POST',
                        url: '/profile/dashboard_change'
                    });
                  },
                  //receave: function(event, ui) { 
                  //  $.ajax({
                  //      data: ui.draggable,
                  //      type: 'POST',
                  //      url: '/your/url/here'
                  //  });
                  //}
                }).disableSelection(); // для отмены выделения текста на элементах
                //$( ".dropfalse" ).sortable("option", "dropOnEmpty", false);

                  

        })
    });

</script>

{% endblock %}

{% block nav%}
    <li class="dropdown">
        <a href="/projects" class="dropdown-toggle" data-toggle="dropdown">Проекты<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/projects">Все</a></li>
            {% for pro in projects %}
            <li><a href="/projects/project/{{pro.id}}">{{pro.title}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="#">Статистика</a></li>
    <li><a href="/profile">Моя страница</a></li>
    <li><a href="#">Форум</a></li>
{% endblock %}