{% extends "main.html" %}
{% load bootstrap %}

{% block title %}
	Профиль
{% endblock %}

{% load staticfiles %}
{% block content%}	
	<div class="row">
		<div class='col-sm-12'>
			<div class='box info-item'>
				<div class='box-header'>
					<div class = "row">
						<h3 class='title'>
							{{ user.user__first_name}} {{ user.user__last_name }}
							<a class="edit-profile">
								<i class="fa fa-1x fa-pencil-square-o"></i>
							</a>
						</h3>

						<div class="row marg_top">
							<div class='col-sm-3 bordered'>
								<div class="user_info_panel padding_10">
									<div class="row">
										{% if user.avatar %}
											<img src="/media/{{ user.avatar }}" class="avatar" >
										{% else %}
											<img src="{% static 'images/user.png' %}" class="avatar">
										{% endif %}
									</div>								

									<div class="row">
										<div class='form-group'>
											<h4>
												<i class="icon-phone"></i>
												Инженер программист
											</h4>													
										</div>
									</div>

									<div class="row">
										<div class='form-group'>
											<h4>
												<i class="fa fa-phone"></i>
												8-904-608-50-56
											</h4>
										</div>
									</div>

									<div class="row">
										<div class='form-group'>
											<h4>
												<i class="fa fa-facebook"></i>
												tatata@facebook.com
											</h4>
										</div>
									</div>

									<div class="row">
										<div class='form-group'>
											<h4>
												<i class="fa fa-star"></i>
												{{user.level}}
											</h4>
										</div>
									</div>
								</div><!--user_info_panel--> 
							</div><!--col-sm-2 bordered--> 

							<div class="col-md-9">
								{% if empty %}
									<div class='col-sm-12'>
										<h3 class="title">Вы не являетесь участником ни одного из проектов</h3>
										<h4> Чтобы принять участие в работе проекта, вам нужно выбрать проект. После чего вы сможете добавлять задачи или закреплять существующие задачи за собой. Выбрать проект вы можете на главной странице</h4> 
										<hr> <h4> Желаем Вам удачи и приятного время провожения вместе с Task Maaaaaan! </h4>
									</div>
								{% else %}										
									<div class='col-sm-12'>
										<h3 class="title">Рабочий процесс</h3>

										<div class="row">
											<div class="col-sm-3">
												<select id="projects-menu" class="table-select">
													{% for project in projects %}
														<option id="{{project.id}}" {% if project.id == project_id %} selected {% endif %}>
															<h4>{{ project.title }}</h4>
														</option>
													{% endfor %}
												</select>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-3">
												<select id="iterates-menu" class="table-select">
													{% for iterate in iterates %}
														<option id="{{iterate.id}}" {% if iterate.id == iterate_id %} selected {% endif %}>
															<h4>{{ iterate.title }}</h4>
														</option>
													{% endfor %}
												</select>
											</div>

											<div id="time-iterate">
											</div>
										</div>
										
										<div class="row marg_buttom_20">
											<h4 class="col-sm-3">Рабочее время:</h4>
											<label id="spend-time"></label>
										</div>

										<div class="row progress marg_left_20" id="progress-bar">
										</div><!--row progress-->	

										<div class="row marg_left_20 ">
											<table class="table table-striped width-100p" id="table_articles">
												<thead>
													<tr>
														<th> 
															To do
															<a class="assign_for_user">+</a>
														</th>
														<th> In progress </th>		
														<th> Test		 </th>
														<th> Done        </th>
													</tr>
									            </thead>
									            <tbody>								            
													<tr class="text-center">
														{% for type in type_tasks %}
													        <td class="dropdown" id="{{type}}">
													            <a href="#" class="dropdown-toggle count-tasks" data-toggle="dropdown">
													                
													            </a> 
																<ul class='dropdown-menu tasks-menu'>
																</ul> 
													        </td>
													    {% endfor %}
													</tr>
									            </tbody>
											</table>
										</div><!--row-->
									</div><!--col-sm-11 col-sm-offset-1-->
								{% endif %}
							</div><!--col-md-9-->
						</div>

						<div class="row">
							<div class="col-sm-3 none_padding marg_top">
								<div class='user_notification navbar-default {{notes.assigned.class}}' id="assigned">
									<a class="notification">
										<div class='form-group'>
											У вас задание
											{% if notes.assigned.class %}
												<div class="pull-right">
													<i class="fa fa-bell fa-2x"></i>
													{{notes.assigned.count}}
												</div>
											{% endif %}
										</div>
									</a>
								</div>

								<div class='user_notification navbar-default {{notes.added.class}}' id="added">
									<a class="notification">
										<div class='form-group'>
											Новые задачи 
											{% if notes.added.class%}
												<div class="pull-right">
													<i class="fa fa-bell fa-2x"></i>
													{{notes.added.count}}
												</div>
											{% endif %}
										</div>
									</a>
								</div>

								<div class='user_notification navbar-default {{notes.change_iter.class}}' id="change_iter">
									<a class="notification">
										<div class='form-group'>
											Новая итерация
											{% if notes.change_iter.class %}
												<div class="pull-right">
													<i class="fa fa-bell fa-2x"></i>
													{{notes.change_iter.count}}
												</div>
											{% endif %}
										</div>
									</a>
								</div>
							</div>

							<div class="col-sm-9 navbar-default padding_10 marg_left_20" id="describe_task" hidden>
								<div class="padding_10">
									<div class='form-group'>
										<label id="title_task" class="title">
										</label>
									</div>

									<div class="describe">
										<textarea class="text" name="text">
										</textarea>
									</div>

									<div class="row">
										<div class='form-group col-sm-8'>
											<div id="box_comments">
											</div>
										</div>
									</div><!--row-->
								</div><!--row padding_10-->
							</div><!--row navbar-default padding_10-->
						</div><!--row-->
					</div><!--row-->
				</div><!--box-->
			</div><!--box-header-->
		</div><!--col-sm-12-->
	</div><!--row-->

	<script src = "{% static 'js/own/profile.js' %}">      </script>
	<script src = "{% static 'js/own/tasks.js' %}">        </script>
	<script src = "{% static 'js/own/notification.js' %}"> </script>				
{% endblock %}

{% block nav %}
	{% if empty == 'all' %}
		<li> <a href="/projects">           Главная                  </a> </li>
	{% else %}
		<li> <a href="/projects/project">   {{ cache.project_title}} </a> </li>
		<li> <a href="/task/tasks">         Задачи                   </a> </li>
		<li> <a href="/task/dashboard">     Dashboard                </a> </li>
		<li> <a href="/profile/employees">  Сотрудники               </a> </li>
		<li> <a href="/statistic">          Статистика               </a> </li>
		<li> <a href="/forum">              Форум                    </a> </li>
	{% endif %}
{% endblock %}